:root {
    --vr-primary-color: #edebdd;
    --vr-sys-color: #0e4b41;
    --vr-btn-color: #fd970d;
    --vr-margin-page: 100px;
}

* {
    font-family: 'Amiri', serif;
}

body {
    font-family: 'Amiri', serif;
    background-color: #031e19;
    color: var(--vr-primary-color);
    margin: 0 50px;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    max-height: 850px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

/* Sura Al Quran */
.container-fluid .row {
    text-align: right;
    margin: 20px 0;
    display: flex;
    flex-direction: row-reverse;
}

.container-fluid .row .col-md-4 {
    background-color: #ffffff0f;
    padding: 10px;
    border-radius: 15px;
    margin: 0 30px 0 0;
}

.container-fluid .row .col-md-4 .list-unstyled {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 600px;
}

.list-unstyled::-webkit-scrollbar {
    width: 1px;
    height: 2px;
}

.list-unstyled::-webkit-scrollbar-thumb {
    background: var(--vr-primary-color);
    border-radius: 10px;
}

.list-unstyled::-webkit-scrollbar-thumb:hover {
    background:var(--vr-btn-color);
}

.list-unstyled::-webkit-scrollbar-track {
    background: #ffffff0f;
    border-radius: 10px;
}

.list-unstyled {
    scroll-behavior: smooth;
}

.content-item:hover {
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.container-fluid .row .col-md-4 .sura-item {
    margin: 7.5px 0 7.5px 10px;
    padding: 10px;
    background-color: #ffffff0f;
    border-radius: 10px;
    width: 250px;
    cursor: pointer;
    transition: background ease-in-out .45s;
}

.container-fluid .row .col-md-4 .sura-item:hover {
    background-color: var(--vr-sys-color);
    color: var(--vr-primary-color);
}

.container-fluid .row .col-md-4 .sura-item .text-muted {
    color: #ffffffae;
    font-size: 12px;
    margin: 4px 0 0 0;
    font-family: "Raleway", sans-serif;
}

.container-fluid .row .col-md-8 {
    background-color: #ffffff0f;
    padding: 10px;
    border-radius: 15px;
    overflow-y: scroll;
    max-height: 580px;
    width: 100%;
}

.col-md-8::-webkit-scrollbar {
    display: none;
}

/* تفاصيل السورة */
.container-fluid .row #sura-details .text-center p {
    margin: 100px;
    padding: 100px;
}

.container-fluid .row #sura-details h3 {
    font-size: 24px;
    margin: 0 0 15px 0;
}

.container-fluid .row #sura-details hr {
    border: none;
    background-color: #ffffff3b;
    height: 0.5px;
    border-radius: 5px;
    margin: -3px 0 11px 0;
}

.container-fluid .row .ayah-item p {
    padding: 0 0 20px 15px;
    margin: 0 0 5px 0;
}

.container-fluid .row .ayah-item p strong {
    padding: 5px 10px;
    margin: 5px 0 15px 5px;
    background-color: #ffffff0e;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
}

.container-fluid .row .ayah-item p {
    transition: color ease-in-out 0.2s;
}

.container-fluid .row .ayah-item p:hover {
    color: var(--vr-btn-color);
}

.container-fluid .row .ayah-item .ayah-actions .btn-success,
.btn-info,
.btn-warning {
    border: none;
    background-color: #ffffff00;
    color: #ffffffae;
    text-align: center;
    cursor: pointer;
}

.container-fluid .row .ayah-item .ayah-actions .btn-success svg, .btn-info svg, .btn-warning svg {
    width: 20px;
    height: 20px;
    transition: color ease-in-out 0.2s;
}

.container-fluid .row .ayah-item .ayah-actions .btn-success svg:hover, .btn-info svg:hover, .btn-warning svg:hover {
    color: #fd970d;
}

.container-fluid .row .col-md-8 .arrow {
    display: flex;
    flex-direction: row-reverse;
}

.container-fluid .row .col-md-8 .arrow .bi-list {
    cursor: pointer;
    display: none;
}

/* Laptop */
@media(max-width: 1024px) {
    body {
        margin: 0 25px;
    }

    .container-fluid .row .col-md-4 .sura-item {
        width: 200px;
        margin: 7.5px 0 7.5px 5px;
    }

    .container-fluid .row .col-md-4 {
        margin: 0 20px 0 0;
    }
}

/* Tablet */
@media(max-width: 768px) {
    body {
        margin: 0 20px;
    }

    .container-fluid .row .col-md-4 .sura-item {
        width: 225px;
        margin: 5px 0 5px 5px;
    }

    .container-fluid .row .col-md-4 {
        margin: 0 20px 0 0;
    }

    .container-fluid .row .col-md-8 .arrow .bi-list {
        display: inline-block;
    }

    .container-fluid .row .col-md-4 {
        background-color: #031e19;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .bg-light {
        margin: 5px;
        position: fixed;
        top: 0;
        left: -100%; /* خارج الشاشة إلى اليسار */
        width: 250px;
        transition: left 0.5s ease; /* حركة انسيابية */
        z-index: 1000; /* لضمان ظهورها فوق المحتوى */
    }
    
    .bg-light.open {
        left: 0;
    }

    .container-fluid .row .col-md-4 .list-unstyled {
        overflow-y: scroll;
        max-height: 850px;
    }

    .container-fluid .row .col-md-8 {
        max-height: 850px;
    }
}

/* Mobile-L */
@media(max-width: 425px) {
    body {
        margin: 0 7.5px;
    }

    .container-fluid .row .col-md-4 .sura-item {
        width: 90%;
        margin: 7.5px 0 7.5px 5px;
    }

    .container-fluid .row .col-md-4 {
        margin: 0 20px 0 0;
        padding: 2.5px 7px 2.5px 5px;
    }

    .container-fluid .row .col-md-4 .list-unstyled {
        overflow-y: scroll;
        max-height: 860px;
    }

    .container-fluid .row .col-md-8 {
        max-height: 860px;
    }
}

/* Mobile-M */
@media(max-width: 375px) {
    body {
        margin: 0 5px;
    }

    .container-fluid .row .col-md-4 .sura-item {
        width: 90%;
        margin: 7.5px 0 7.5px 4px;
    }

    .container-fluid .row .col-md-4 {
        margin: 0 20px 0 0;
        padding: 2.5px 7px 2.5px 5px;
    }

    .container-fluid .row .ayah-item p strong {
        padding: 3px 8px;
        margin: 5px 0 15px 5px;
        background-color: #ffffff0e;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: "Raleway", sans-serif;
    }

    .container-fluid .row .ayah-item .ayah-actions .btn-success svg, .btn-info svg, .btn-warning svg {
        width: 18px;
        height: 18px;
        transition: color ease-in-out 0.2s;
    }
}