body {
    font-family: 'Arial', sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#surah-select {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

#ayahs-container {
    margin-top: 20px;
}

#tafseer-container {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}
