:root {
    --bs-primary-color: #ffffff;
    --bs-secondary-color: rgba(214, 41, 62, 0.1);
    --fc-background-color-1: #f7c32e26;
    --fc-background-color-2: #1d3b531a;
    --fc-background-color-3: #6f42c11a;
    --fc-background-color-4: #17a2b81a;
    --fc-background-color-5: #0cbc871a;
    --fc-btn-bg: #066ac9;
    --fc-btn-bg-co: #001e2b;
    --fc-color-btn-new: #d6293e!important;
    --fc-inp-border-co: #dfe2e1;
    --fo-h1-h6-co: #21313c;
    --fc-p-co: #5f5f5f;
    --fc-par-color: #ffc107!important;
    --fc-prod-sale-color: #db3030!important;
    --fc-cursor-poi: pointer;
    --fc-margin-width: 0 100px;
    --fc-padding-width-btn: 7px 22px;
    --fc-border-color: #dfe2e1;
    --fc-border-width-none: none;
    --fc-border-width: 1px;
    --fc-border-style: solid;
    --fc-border-co-hevor: #066ac9;
    --fc-border-radius-width: 7px;
    --fc-box-shadow-hevor: 0px 0px 0px 5px #066bc954;
}

.row {
    --fc-breakpoint-labtop-L: 1440px;
    --fc-breakpoint-laptop: 1024px;
    --fc-breakpoint-md: ;
    --fc-breakpoint-lg: ;
    --fc-breakpoint-xl: ;
    --fc-breakpoint-xxl: ;
}

* {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-family: 'Cairo', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-family: 'Cairo', sans-serif;
    background-color: var(--bs-primary-color);
    color: var(--fo-h1-h6-co);
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cairo', sans-serif;
    color: var(--fo-h1-h6-co);
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    font-family: 'Cairo', sans-serif;
    text-decoration: var(--fc-border-width-none);
    color: var(--fc-p-co);
}

body.dark-mode hr {
    background-color: var(--fc-p-co);
    margin: 10px 0;
}

body.dark-mode input {
    color: #e0e0e0;
}

body.dark-mode select {
    /* color: #e0e0e0; */
}

body {
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #101010;
    color: #e0e0e0;
}

body.dark-mode h1, body.dark-mode h2 , body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
    color: #e0e0e0;
}

body.dark-mode .header .navbar a {
    color: #e0e0e0;
}

body.dark-mode  .progress-section {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .stat-card {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .plan-container {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode h3 {
    background-color: #161616;
    color: #e0e0e0;
}


body.dark-mode .modal-content h2 {
    color: #2f2f2f;
}

/* Index.html */
/* .view-user .container */
body.dark-mode .view-user .container {
    background-color: #121212;
    color: #e0e0e0;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode .header {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .plan {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .plan .inner {
    background-color: #121212;
    color: #e0e0e0;
}

/* Quiztion */
body.dark-mode .quiztion .container .con-header {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .quiztion .container .head-swi {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .quiztion .container .quiz-view-switchs .content-swi {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .quiztion .container button {
    /* color: #e0e0e0; */
}